# Игнорировать ВСЕ папки node_modules в любом месте репозитория
**/node_modules/

# Игнорировать ВСЕ папки dist в любом месте репозитория
**/dist/

# Дополнительные общие исключения
.DS_Store
.env
.env.local
*.log
.idea/
.vscode/